@import '../node_modules/bootstrap/scss/bootstrap';
// body {
//     background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fhtml.com%2Fattributes%2Fimg-src%2F&psig=AOvVaw0tGxnw2e0Z_n3c4O1yD1_S&ust=1682510009669000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCIih2bD8xP4CFQAAAAAdAAAAABAD');
// }
.container {
    padding: 10px;
    margin-top: 20px;
}

.form {
    min-height: 150px;
}
